[*.cs]

# Default severity for analyzer diagnostics with category 'Major Code Smell'
dotnet_analyzer_diagnostic.category-Major Code Smell.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0075: Simplify conditional expression
dotnet_diagnostic.IDE0075.severity = none

# Default severity for analyzer diagnostics with category 'Minor Code Smell'
dotnet_analyzer_diagnostic.category-Minor Code Smell.severity = none
