
@{
    ViewData["Title"] = "SuccessPage";
}
@model string

<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-12">
                    </div><!-- /.col -->
                    <div class="col-sm-12">
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container contain-box">
                <div class="row">
                    <!-- /.col-md-6 -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-outline card-success">
                                <div class="row">
                                    <!-- /.card-header -->
                                    <div class="card-body text-center">
                                        <div class="container container-box">
                                            <div class="card-body login-card-body">
                                                <h5 class="m-0 text-dark">
                                                    Your subscription has been deleted successfully
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</div>

