.e-grid .e-headercell.customcss .e-headertext, .e-grid .e-headercell.customcssEventName .e-headertext {
    font-size: 1rem;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: bold;
    color: black !important;
}

.e-grid .e-headercell.customcssNotificationStatus .e-headertext {
    font-size: 1rem;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: bold;
    color: black !important;
}

.e-grid .e-headercell.customcssLastUpdated .e-headertext {
    font-size: 1rem;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: bold;
    color: black !important;
}

.e-rowcell.customcss {
    font-size: 0.95rem;
    white-space: normal !important;
}

.e-rowcell.customcssEventName {
    font-size: 0.95rem;
    white-space: normal !important;
}

.e-rowcell.customcssLastUpdated {
    font-size: 0.85rem;
    white-space: normal !important;
    position: relative;
    padding: 1px 2px !important;
}

.e-rowcell.customcssNotificationStatus {
    font-size: 0.95rem;
    white-space: nowrap !important;
    position: relative;
}

.clsEventName, .clsLastUpdated, .clsLastUpdatedWithImage {
    line-height: 1.5 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}

.clsGroups {
    line-height: 1.5 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    max-width: 65% !important;
    white-space: nowrap !important;
}

.clsNotificationName {
    line-height: 1.5 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
}

.e-grid.e-gridhover tr[role='row']:not(.e-editedrow):hover .e-rowcell:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell), .e-grid.e-gridhover tr[role='row']:hover .e-detailrowcollapse:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell), .e-grid.e-gridhover tr[role='row']:hover .e-rowdragdrop:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell), .e-grid.e-rtl .e-gridhover tr[role='row']:hover .e-rowdragdrop:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell), .e-grid.e-gridhover tr[role='row']:hover .e-detailrowexpand:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell) {
    background-color: white !important;
    color: #000 !important;
}

.groupTiles {
    background-color: #007bff;
    border-color: #006fe6;
    color: #fff;
    border: 1px solid #aaa;
    border-radius: 29px;
    display: inline-block;
    padding: 4px 4px;
    margin-left: 1px;
    font-size: 12px;
}

.e-grid .e-headercell.customcssDetails .e-headertext {
    font-size: 1rem;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: bold;
    color: black !important;
}
 
.card-body-dashboard {
    padding: 0px !important;
}
.clsLastUpdateParent {
    padding: 0px 0px;
    height: 20%;
}
.clsLastUpdateImageParent {
    padding: 0px 0px;
    height: 20%;
}
.clsLastUpdatedWithImage {
    width: 82%;
    float: right;
}
.btn-group-sm > .btn, .btn-sm {
    position: relative;
}